<div class="container px-4 px-lg-5 my-5">
  <div class="row gx-4 gx-lg-5 align-items-center">
    <div class="col-md-6">
      <!--<img class="card-img-top mb-5 mb-md-0" [src]="event?.image ? '/events/' + event.id + '/image' : '/images/no_image.png'" [alt]="event?.title ? event.title : 'No Image'">-->
    </div>
    <div class="col-md-6">
      <h1 class="display-5 fw-bolder">{{ event?.title }}</h1>
      <div class="fs-5 mb-5">
        <!--<span>{{ event?.category }}</span>-->
      </div>
      <ul class="list-inline">
        <li><strong>Fecha:</strong> {{ event?.date }}</li>
        <li><strong>Lugar:</strong> {{ event?.place }}</li>
        <li><strong>Duración:</strong> {{ event?.duration }}</li>
      </ul>
      <p class="lead">{{ event?.description }}</p>
      <div class="d-flex">
        <a class="btn btn-primary btn-xl text-uppercase me-2" routerLink="/">
          Volver
        </a>
        <div *ngIf="isUser">
          <input type="hidden" name="id" [value]="user.id">
          <a class="btn btn-primary btn-xl text-uppercase me-2" (click)="navigateToInscription()">Inscribirme</a>
            <i class="fas fa-edit me-1"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<form [action]="'/CreateReview'" method="post" class="hidden" id="commentSection" *ngIf="isUser">
  <input type="hidden" name="id" [value]="event?.id">
  <div class="col-md-9 col-lg-8 mx-auto">
    <h3 class="login-heading mb-4">Bienvenido! A la seccion de opiniones</h3>
    <h4 class="login-heading mb-4">Añada tu opinión</h4>
    <div class="form-floating mb-3">
      <textarea class="form-control" id="floatingPhone" placeholder="Deja tu comentario" [(ngModel)]="newComment" name="description"></textarea>
      <label for="floatingPhone">Deja tu comentario</label>
    </div>
    <div class="d-grid">
      <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Guardar" (click)="addComment()"/>
    </div>
  </div>
</form>
