<div class="container">
  <h3 class="login-heading mb-4">Nuevo Evento</h3>

  <!-- Formulario para crear un nuevo evento -->
  <form (submit)="submitForm()" enctype="multipart/form-data">

    <div class="form-floating mb-3">
      <label for="title">Evento:</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="newEvent.title" required>
    </div>

    <div class="form-floating mb-3">
      <label for="date">Fecha:</label>
      <input type="text" class="form-control" id="date" name="date" [(ngModel)]="newEvent.date" required>
    </div>

    <div class="form-floating mb-3">
      <label for="duration">Duración del evento:</label>
      <input type="text" class="form-control" id="duration" name="duration" [(ngModel)]="newEvent.duration" required>
    </div>

    <div class="form-floating mb-3">
      <label for="place">Lugar:</label>
      <input type="text" class="form-control" id="place" name="place" [(ngModel)]="newEvent.place" required>
    </div>

    <div class="form-floating mb-3">
      <label for="description">Descripción:</label>
      <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="newEvent.description" required></textarea>
    </div>
    <div class="form-group">
      <label>Subir nueva imagen:</label><br>
      <input type="file" (change)="onFileSelected($event)" name="imageField" accept=".jpg, .jpeg" /><br>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2">Guardar</button>
    </div>
  </form>
</div>
