<form enctype="multipart/form-data">>
  <label for="floatingTitle">Evento:</label>
  <input type="text" [(ngModel)]="titleEvent" id="floatingTitle" name="title" required>

  <label for="floatingDate">Fecha</label>
  <input type="text" [(ngModel)]="dateEvent" class="form-control" id="floatingDate" name="date" required>

  <label for="floatingDuration">Duracion</label>
  <input type="text" [(ngModel)]="durationEvent" class="form-control" id="floatingDuration" name="duration" required>

  <label for="floatingPlace">Lugar</label>
  <input type="text" [(ngModel)]="placeEvent" class="form-control" id="floatingPlace" name="place" required>

  <label for="floatingDescription">Descripcion</label>
  <input type="text" [(ngModel)]="descriptionEvent" class="form-control" id="floatingDescription" name="description" required>

  <label>Subir nueva imagen:</label><br>
  <input type="file" (change)="onFileSelected($event)"  name="imageField" accept=".jpg, .jpeg" /><br>

  <input type='checkbox' name='removeImage'>
  <label>Eliminar imagen actual</label><br>

  <button type="submit" (click)="onSubmit()">Guardar cambios</button>
</form>
