<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar evento</title>
  <link href="/css/stylesInsc.css" rel="stylesheet" />
</head>
<body>

<form action="/editEvent" method="post">
  <label for="floatingTitle">Evento:</label>
  <input type="text" id="floatingTitle" name="title" value="{{event.title}}" required>

  <label for="floatingDate">Fecha</label>
  <input type="text" class="form-control" id="floatingDate" name="date" value="{{event.date}}" required>

  <label for="floatingDuration">Duracion</label>
  <input type="text" class="form-control" id="floatingDuration" name="duration" value="{{event.duration}}" required>

  <label for="floatingPlace">Lugar</label>
  <input type="text" class="form-control" id="floatingPlace" name="place" value="{{event.place}}" required>

  <label for="floatingDescription">Lugar</label>
  <input type="text" class="form-control" id="floatingDescription" name="description" value="{{event.description}}" required>
  <p>Image: </p>

  {{#event.image}}
  <img src="/events/{{event.id}}/image">
  <br><input type='checkbox' name='removeImage'> <label>Remove image</label><br>
        {{/event.image}}

        {{^event.image}}
        <img src="/images/no_image.png"><br>
          {{/event.image}}

  <label>Upload image: </label><br>
  <input type='file' name='imageField' accept=".jpg, .jpeg" />
  <input type="hidden" name="_csrf" value="{{token}}"/>
  <br>
  <br>
  <input type="hidden" name="id" value="{{event.id}}" />
  <button type="submit">Guardar cambios</button>
</form>
</body>
</html>
