<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscripción</title>
    <link href="/css/stylesInsc.css" rel="stylesheet" />
</head>
<body>

<form>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" required>

    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" required>

    <label for="correo">Correo:</label>
    <input type="email" id="correo" name="correo" required>

    <label for="telefono">Teléfono:</label>
    <input type="tel" id="telefono" name="telefono" required>

    <div class="entry-type">
        <label>Tipo de entrada:</label>
        <div class="entry-option">
            <div class="checkmark" id="generalCheck"></div>
            <label for="general">General: Gratis</label>
            <input type="radio" name="entrada" id="general" value="general" required>
        </div>
        <div class="entry-option">
            <div class="checkmark" id="movilidadCheck"></div>
            <label for="movilidad_reducida">Movilidad reducida: Gratis</label>
            <input type="radio" name="entrada" id="movilidad_reducida" value="movilidad_reducida" required>
        </div>
        <div class="entry-option">
            <div class="checkmark" id="vipCheck"></div>
            <label for="vip">VIP: 9€</label>
            <input type="radio" name="entrada" id="vip" value="vip" required>
        </div>
    </div>

    <button type="submit">Inscribirme</button>
</form>

<script>
    const checkboxes = document.querySelectorAll('.checkmark');

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('click', () => {
            checkboxes.forEach(c => c.classList.remove('checked'));
            checkbox.classList.add('checked');
        });
    });
</script>

</body>
</html>
