<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container-fluid ps-md-0">
            <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="login-heading mb-4">Bienvenido! Inicie sesion</h3>

                        <!-- Sign In Form -->
                        <form action="/login" method="post">
                        <div class="form-floating mb-3">
                            <label for="floatingInput">Username</label>
                            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">

                        </div>
                        <div class="form-floating mb-3">
                            <label for="floatingPassword">Password</label>
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                        </div>
                            <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Iniciar Sesion">
                        </form>
                        <div>
                            <h3>    </h3>
                            <h3 class="login-heading mb-4">Create una cuenta!</h3>
                            <a class="btn btn-primary btn-xl text-uppercase" href="registrar">Registrarme</a>
                        </div>

                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
</body>
</html>
