<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container-fluid ps-md-0">
            <div class="row g-0">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image2"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="login-heading mb-4">Nuevo Evento</h3>
        
                        <!-- Sign In Form -->
                        <form action="/NewEvent" method="post">
                            <div class="form-floating mb-3">
                                <p>Evento:</p>
                                <input type="text" class="form-control" name="title" placeholder="Evento"/>

                            </div>
                            <div class="form-floating mb-3">
                                <p>Fecha:</p>
                                <input type="text" class="form-control" name="date" placeholder="date"/>
                            </div>
                            <div class="form-floating mb-3">
                                <p>Hora del evento:</p>
                                <input type="text" class="form-control" name="hour" placeholder="Hora"/>
                            </div>
                            <div class="form-floating mb-3">
                                <p>Duracion del evento:</p>
                                <input type="text" class="form-control" name="duration" placeholder="Duracion"/>
                            </div>
                            <div class="form-floating mb-3">
                                <p>Lugar:</p>
                                <input type="text" class="form-control" name="place" placeholder="Lugar"/>

                            </div>
                            <div class="form-floating mb-3">
                                <p>Categoria:</p>
                                <input type="text" class="form-control" name="category" placeholder="Categoria"/>

                            </div>
                            <div class="form-floating mb-3">
                                <p>Plazas:</p>
                                <input type="text" class="form-control" name="n_tickets" placeholder="Plazas"/>

                            </div>
                            <div class="form-floating mb-3">
                                <p>Descripcion:</p>
                                <textarea class="form-control" name="description" placeholder="Descripcion"></textarea>

                            </div>
                            <div class="form-floating mb-3">
                                <p>Foto:</p>
                                <input class="form-control" type= 'file' name="imageField" accept=".jpg, .jpeg"/>

                            </div>

                            <div class="d-grid">
                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                <input class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit" value="Guardar"/>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>