<div class="container">
  <h2>Inscripción</h2>
  <form [formGroup]="ticketForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="surname">Apellido:</label>
      <input type="text" class="form-control" id="surname" formControlName="surname">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="phone">Teléfono:</label>
      <input type="tel" class="form-control" id="phone" formControlName="phone">
    </div>
    <input type="hidden" formControlName="id" />
    <input type="hidden" formControlName="event" [value]="this.eventId" />
    <input type="hidden" formControlName="user" [value]="this.userId" />



    <button type="submit" class="btn btn-primary">Inscribirse</button>

  </form>
</div>


